<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	
  	<p>Forma de Contacto.</p>

    <p>Un nuevo cliente trata de comuicarse con nosotros, estos son sus datos de contacto:</p>
    Nombre: <%= @name %><br/>
    Correo: <%= @email %><br/>
    Mensaje: <%= @message %><br/>

  </body>
  </body>
</html>