<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	
  	<p>Registro Verde Monarca.</p>

    <p>Para continuar con el registro, ingrese su correo y la contraseña que le facilitamos haciendo <a href="http://localhost:3000">clic aqu&iacute;</a></p>
    <p>contraseña:123</p>

  </body>
  </body>
</html>