    <!-- Intro Wrap -->
    <div class="registration" id="registration-container">
      <div class="container">
        <div class="row text-center">
          <div class="container">
            <div class="row text-center">
              <div id="form-carousel" class="carousel slide" data-interval="false">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">

                  <!-- Form Part 1: User Info !-->
                  <div class="item active">
                    <div class="body-wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 animated" data-animtype="flipInY"
                                     data-animrepeat="0"
                                     data-speed="1s"
                                     data-delay="0.5s">
                                    <h2 class="h2-section-title">Información del Usuario</h2>

                                    <div class="i-section-title">
                                        <i class="icon-users-outline">

                                        </i>
                                    </div>

                                    <div class="space-sep20"></div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-6 col-sm-6 centered">
                                    <div class="classic-form">
                                        <form class="form-horizontal" role="form" id="registration-form-user">
                                          <div class="form-group">
                                            <label for="nombre" class="col-sm-4 control-label">Nombre</label>
                                            <div class="col-sm-8">
                                              <input type="text" class="form-control" name="nombre" placeholder="Nombre">
                                            </div>
                                          </div>

                                          <div class="form-group">
                                            <label for="apellido" class="col-sm-4 control-label">Apellido</label>
                                            <div class="col-sm-8">
                                              <input type="text" class="form-control" name="apellido" placeholder="Apellido">
                                            </div>
                                          </div>

                                          <div class="form-group">
                                            <label for="email" class="col-sm-4 control-label">Email</label>
                                            <div class="col-sm-8">
                                              <input type="text" class="form-control" name="email" placeholder="Email">
                                            </div>
                                          </div>

                                          <div class="form-group">
                                            <label for="telefono" class="col-sm-4 control-label">Telefono</label>
                                            <div class="col-sm-8">
                                              <input type="text" class="form-control"name="telefono" id="telefono" placeholder="Telefono">
                                            </div>
                                          </div>

                                          <div class="form-group">
                                            <label for="celular" class="col-sm-4 control-label">Celular</label>
                                            <div class="col-sm-8">
                                              <input type="text" class="form-control" name="celular" id="celular" placeholder="Celular">
                                            </div>
                                          </div>

                                          <div class="form-group">
                                            <label for="pais" class="col-sm-4 control-label">Pais</label>
                                            <div class="col-sm-8">
                                              <select class="form-control" name="pais">
                                                <option>Mexico</option>
                                              </select>
                                            </div>
                                          </div>

                                          <div class="form-group">
                                            <label for="estado" class="col-sm-4 control-label">Estado</label>
                                            <div class="col-sm-8">
                                              <select class="form-control" name="estado">
                                                <option>Nuevo Le&oacute;n</option>
                                              </select>
                                            </div>
                                          </div>

                                          <div class="form-group">
                                            <label for="municipio" class="col-sm-4 control-label">Municipio</label>
                                            <div class="col-sm-8">
                                              <select class="form-control" name="municipio">
                                                <option>San Pedro Garza García</option>
                                              </select>
                                            </div>
                                          </div>

                                          <div class="form-group">
                                            <label for="calle" class="col-sm-4 control-label">Calle</label>
                                            <div class="col-sm-8">
                                              <input type="text" class="form-control" name="calle" placeholder="Calle">
                                            </div>
                                          </div>

                                          <div class="form-group">
                                            <label for="numero" class="col-sm-4 control-label">Numero</label>
                                            <div class="col-sm-8">
                                              <input type="text" class="form-control" name="numero" placeholder="Numero">
                                            </div>
                                          </div>

                                          <div class="form-group">
                                            <label for="colonia" class="col-sm-4 control-label">Colonia</label>
                                            <div class="col-sm-8">
                                              <input type="text" class="form-control" name="colonia" placeholder="Colonia">
                                            </div>
                                          </div>

                                          <div class="form-group">
                                            <label for="codigo-postal" class="col-sm-4 control-label">Codigo Postal</label>
                                            <div class="col-sm-8">
                                              <input type="text" class="form-control" id="codigo-postal" name="codigo-postal" placeholder="Codigo Postal">
                                            </div>
                                          </div>

                                          <button type="submit" class="btn btn-theme" href="#form-carousel" data-slide="next">Siguiente</button>
                                        </form>
                                    </div>
                                </div>

                            </div> <!-- /row -->
                        </div> <!-- /container -->
                    </div> <!-- /wrapper-->
                  </div>
                  <!--/User-info-->

                  <!-- Form Part 2: Energy Info !-->
                  <div class="item">
                    <div class="body-wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 animated" data-animtype="flipInY"
                                     data-animrepeat="0"
                                     data-speed="1s"
                                     data-delay="0.5s">
                                    <h2 class="h2-section-title">Consumo Energético</h2>

                                    <div class="i-section-title">
                                        <i class="icon-users-outline">

                                        </i>
                                    </div>

                                    <div class="space-sep20"></div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-6 col-sm-6 centered">
                                    <div class="classic-form">
                                        <form class="form-horizontal" role="form" id="registration-form-energy">
                                            <div class="form-group has-feedback" id="rpu-form-group">
                                                <label for="rpu" class="col-sm-3 control-label">RPU</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="rpu" name="rpu" placeholder="Número de servicio (12 digitos)">
                                                    <i class="glyphicon glyphicon-question-sign form-control-feedback" data-toggle="modal" data-target="#modal-rpu"></i>
                                                    <small class="help-block" id="rpu-help-block">El RPU no es valido o no existe en nuestra base de datos</small>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-sm-offset-3 col-sm-9">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" id="energy-info-auth" checked="true">  Autorizas a Verde Monarca a obtener tu información de consumo energético para presentarte una propuesta en menos de 30 segundos? (Puedes desmarcar e ingresar informacion manualmente)
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="manual-info">

                                              <div class="form-group" id="tarifa-form-group">
                                                  <label for="tarifa" class="col-sm-3 control-label">Tarifa</label>
                                                  <div class="col-sm-9">
                                                    <div class="btn-group">
                                                      <select class="form-control" name="tarifa" id="tarifa">
                                                        <option>DAC</option>
                                                      </select>
                                                    </div>
                                                    <i class="glyphicon glyphicon-question-sign form-control-feedback" data-toggle="modal" data-target="#modal-tarifa"></i>
                                                  </div>
                                              </div>
                                              <div class="form-group">
                                                  <label class="col-sm-3 control-label">Consumo en kWh en el último año (12 meses): </label>
                                                  <div class="col-sm-9" id="consumo-total" name="consumo-total">0</div>

                                              </div>

                                            </div> <!--/manual info-->
                                            <button type="submit" class="btn btn-theme" href="#form-carousel" data-slide="prev">Atr&aacute;s</button>
                                            <button type="submit" class="btn btn-theme" href="#form-carousel" data-slide="next" id="energy-info-next-button">Siguiente</button>

                                        </form>
                                    </div>
                                </div>

                            </div> <!-- /row -->
                        </div> <!-- /container -->
                    </div> <!-- /wrapper-->
                  </div>
                  <!--/Energy-info-->

                  <!-- Form Part 3: Propuesta-->
                  <div class="item">
                    <div class="body-wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 animated" data-animtype="flipInY"
                                     data-animrepeat="0"
                                     data-speed="1s"
                                     data-delay="0.5s">
                                    <h2 class="h2-section-title">Propuesta</h2>

                                    <div class="i-section-title">
                                        <i class="icon-users-outline">

                                        </i>
                                    </div>

                                    <div class="space-sep20"></div>
                                </div>
                            </div>

                            <div class="row">
                              <!--Pequeño -->
                              <div class="col-xs-12 col-md-4">
                                <div class="panel panel-custom" id="vm-pequeno">
                                  <div class="panel-heading">
                                    <h3 class="panel-title">VM Pequeño</h3>
                                  </div>
                                  <div class="panel-body">
                                    <div class="the-price">
                                      <h3>Resumen</h3>
                                    </div>
                                    <table class="table table-condensed">
                                      <tr>
                                        <td><span class="tamano-sistema-solar">2.5 kWp</span> Tamaño del Sistema Solar</td>
                                      </tr>
                                      <tr>
                                        <td><span class="produccion-anual">292 kWH</span> Producción Anual (Estimada)</td>
                                      </tr>
                                      <tr>
                                        <td><span class="costo-anual-sin-vm">&#36;46,220.78 MN</span> Costo Anual (sin VM)</td>
                                      </tr>
                                      <tr>
                                        <td><span class="costo-anual">&#36;19,892 MN</span> Costo Anual (con VM)</td>
                                      </tr>
                                       <tr>
                                        <td><span class="ahorro-economico">57&#37;</span> Ahorro Económico Anual</td>
                                      </tr>
                                    </table>
                                    <div class="the-price">
                                      <h3>Beneficios Ambientales</h3>
                                    </div>
                                    <table class="table table-condensed">
                                      <tr>
                                        <td><span class="ahorro-energetico">27&#37;</span> Ahorro Energético</td>
                                      </tr>
                                      <tr>
                                        <td><span class="arboles-no-talados">50</span> &Aacute;rboles No Talados</td>
                                      </tr>
                                      <tr>
                                        <td><span class="co2">29</span> Toneladas de CO2 evitadas</td>
                                      </tr>
                                    </table>
                                    <div class="the-price">
                                      <h3> Retorno Sobre la Inversión</h3>
                                    </div>
                                    <table class="table table-condensed">
                                      <tr>
                                        <td><span class="inversion-total">$6,048.20 USD</span> Inversión total (sin IVA)</td>
                                      </tr>
                                      <tr>
                                        <td> <span class="costo-por-watt">$2.44 USD/W</span> Costo por Watt</td>
                                      </tr>
                                      <tr>
                                        <td> <span class="payback">3.5</span> Payback (Años)</td>
                                      </tr>
                                      <tr>
                                        <td> <span class="tir">35%</span> TIR</td>
                                      </tr>
                                    </table>
                                  </div>
                                  <div class="panel-footer">
                                    <button class="btn btn-theme" role="button" href="#form-carousel" data-slide="next" id="select-vm-small">Elegir</button>
                                  </div>
                                </div>
                              </div>
                              <!-- /Pequeño -->

                              <!--Mediano -->
                              <div class="col-xs-12 col-md-4">
                                <div class="panel panel-custom" id="vm-mediano">
                                  <div class="panel-heading">
                                    <h3 class="panel-title">VM Mediano</h3>
                                  </div>
                                  <div class="panel-body">
                                    <div class="the-price">
                                      <h3>Resumen</h3>
                                    </div>
                                    <table class="table table-condensed">
                                      <tr>
                                        <td><span class="tamano-sistema-solar">6.6 kWp</span> Tamaño del Sistema Solar</td>
                                      </tr>
                                      <tr>
                                        <td><span class="produccion-anual">772 kWH</span> Producción Anual (Estimada)</td>
                                      </tr>
                                      <tr>
                                        <td><span class="costo-anual-sin-vm">&#36;46,220.78 MN</span> Costo Anual (sin VM)</td>
                                      </tr>
                                      <tr>
                                        <td><span class="costo-anual">&#36;6,391.41 MN</span> Costo Anual (con VM)</td>
                                      </tr>
                                       <tr>
                                        <td><span class="ahorro-economico">86&#37;</span> Ahorro Económico Anual</td>
                                      </tr>
                                    </table>
                                    <div class="the-price">
                                      <h3>Beneficios Ambientales</h3>
                                    </div>
                                    <table class="table table-condensed">
                                      <tr>
                                        <td><span class="ahorro-energetico">71&#37;</span> Ahorro Energético</td>
                                      </tr>
                                      <tr>
                                        <td><span class="arboles-no-talados">133</span> &Aacute;rboles No Talados</td>
                                      </tr>
                                      <tr>
                                        <td><span class="co2">102</span> Toneladas de CO2 evitadas</td>
                                      </tr>
                                    </table>
                                    <div class="the-price">
                                      <h3> Retorno Sobre la Inversión</h3>
                                    </div>
                                    <table class="table table-condensed">
                                      <tr>
                                        <td><span class="inversion-total">$16,004.10 USD</span> Inversión total (sin IVA)</td>
                                      </tr>
                                      <tr>
                                        <td> <span class="costo-por-watt">$2.44 USD/W</span> Costo por Watt</td>
                                      </tr>
                                      <tr>
                                        <td> <span class="payback">6.1</span> Payback (Años)</td>
                                      </tr>
                                      <tr>
                                        <td> <span class="tir">22%</span> TIR</td>
                                      </tr>
                                    </table>
                                  </div>
                                  <div class="panel-footer">
                                    <button class="btn btn-theme" role="button" href="#form-carousel" data-slide="next" id="select-vm-medium">Elegir</button>
                                  </div>
                                </div>
                              </div>
                              <!-- /Mediano -->

                              <!--Grande -->
                              <div class="col-xs-12 col-md-4">
                                <div class="panel panel-custom" id="vm-grande">
                                  <div class="panel-heading">
                                    <h3 class="panel-title">VM Grande</h3>
                                  </div>
                                  <div class="panel-body">
                                    <div class="the-price">
                                      <h3>Resumen</h3>
                                    </div>
                                    <table class="table table-condensed">
                                      <tr>
                                        <td><span class="tamano-sistema-solar">7.4 kWp</span> Tamaño del Sistema Solar</td>
                                      </tr>
                                      <tr>
                                        <td><span class="produccion-anual">874 kWH</span> Producción Anual (Estimada)</td>
                                      </tr>
                                      <tr>
                                        <td><span class="costo-anual-sin-vm">&#36;46,220.78 MN</span> Costo Anual (sin VM)</td>
                                      </tr>
                                      <tr>
                                        <td><span class="costo-anual">&#36;5,306.67 MN</span> Costo Anual (con VM)</td>
                                      </tr>
                                       <tr>
                                        <td><span class="ahorro-economico">89&#37;</span> Ahorro Económico Anual</td>
                                      </tr>
                                    </table>
                                    <div class="the-price">
                                      <h3>Beneficios Ambientales</h3>
                                    </div>
                                    <table class="table table-condensed">
                                      <tr>
                                        <td><span class="ahorro-energetico">80&#37;</span> Ahorro Energético</td>
                                      </tr>
                                      <tr>
                                        <td><span class="arboles-no-talados">151</span> &Aacute;rboles No Talados</td>
                                      </tr>
                                      <tr>
                                        <td><span class="co2">116</span> Toneladas de CO2 Evitadas</td>
                                      </tr>
                                    </table>
                                    <div class="the-price">
                                      <h3> Retorno Sobre la Inversión</h3>
                                    </div>
                                    <table class="table table-condensed">
                                      <tr>
                                        <td><span class="inversion-total">$6,048.20 USD</span> Inversión total (sin IVA)</td>
                                      </tr>
                                      <tr>
                                        <td> <span class="costo-por-watt">$2.44 USD/W</span> Costo por Watt</td>
                                      </tr>
                                      <tr>
                                        <td> <span class="payback">6.7</span> Payback (Años)</td>
                                      </tr>
                                      <tr>
                                        <td> <span class="tir">20%</span> TIR</td>
                                      </tr>
                                    </table>
                                  </div>
                                  <div class="panel-footer">
                                    <button class="btn btn-theme" role="button" href="#form-carousel" data-slide="next" id="select-vm-large">Elegir</button>
                                  </div>
                                </div>
                              </div>
                              <!-- /Grande -->

                            </div> <!-- /row -->
                            <br>
                            <div class="row">
                              <div class="col-md-offset-3 col-md-6" id="tir-chart"></div>
                            </div>
                            <div class="row">
                              <div class="col-md-offset-3 col-md-6">
                                <p>Se considera un aumento anual de la tarifa de la CFE del 6%; no obstante, en los ultimos 10 años ha aumentado a una tasa del 10% anual. Como referencia, el TIR que se obtiene al invertir tu dinero en el banco es del 6%.</p>
                              </div>
                            </div>
                            <br>
                            <button href="#form-carousel" class="btn btn-theme" data-slide="prev">Atr&aacute;s</button>
                        </div> <!-- /container -->
                    </div> <!-- /wrapper-->
                  </div>
                  <!--/propuesta-->

                  <!-- Form Part 4: Pick a date !-->
                  <div class="item">
                    <div class="body-wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 animated" data-animtype="flipInY"
                                     data-animrepeat="0"
                                     data-speed="1s"
                                     data-delay="0.5s">
                                    <h2 class="h2-section-title">Visita de Servicio al Cliente</h2>

                                    <div class="i-section-title">
                                        <i class="icon-users-outline">

                                        </i>
                                    </div>

                                    <div class="space-sep20"></div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-6 col-sm-6 centered">
                                    <div class="classic-form">
                                        <p style="text-align:justify">Ya casi terminamos! Uno de nuestros especialistas te visitará en tu casa para corroborar todos los detalles y asegurarnos de que la propuesta que se te presente sea la óptima para ti! Por favor escoge enseguida la fecha y horario para la visita de nuestro técnico:</p>
                                        <form class="form-horizontal" role="form" id="registration-form-date">
                                          <div class="form-group">
                                            <label for="fecha-visita" class="col-sm-4 control-label">Fecha de Visita</label>
                                            <div class="col-sm-8">
                                              <div style="position:relative;"><input type="text" class="form-control" name="fecha-visita" id="fecha-visita" placeholder="Haz Click para Seleccionar la Fecha"></div>
                                            </div>
                                          </div>

                                          <div class="form-group">
                                            <label for="hora-visita" class="col-sm-4 control-label">Hora de Visita</label>
                                            <div class="col-sm-8">
                                              <input type="text" class="form-control" name="hora-visita" id="hora-visita" placeholder="Haz Click para Seleccionar la Hora">
                                            </div>
                                          </div>
                                          <p style="text-align:justify">No pudiste encontrar un horario que se acomode con tu agenda? No te preocupes! Por favor llámanos al (818) 340 8279 y nos aseguraremos de que uno de nuestros técnicos te visita en el horario ideal para ti!</p>
                                          </br>
                                          <button type="submit" class="btn btn-theme" href="#form-carousel" data-slide="prev">Atr&aacute;s</button>
                                          <button type="submit" class="btn btn-theme" href="#form-carousel" data-slide="next">Siguiente</button>
                                          </br>
                                          </br>
                                          </br>
                                          </br>
                                        </form>
                                    </div>
                                </div>

                            </div> <!-- /row -->
                        </div> <!-- /container -->
                    </div> <!-- /wrapper-->
                  </div>
                  <!--/pick-a-date-->

                  <!-- Form Part 5: Payment!-->
                  <div class="item">
                    <div class="body-wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 animated" data-animtype="flipInY"
                                     data-animrepeat="0"
                                     data-speed="1s"
                                     data-delay="0.5s">
                                    <h2 class="h2-section-title">Contratación y Forma de Pago</h2>

                                    <div class="i-section-title">
                                        <i class="icon-users-outline">

                                        </i>
                                    </div>

                                    <div class="space-sep20"></div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-6 col-sm-6 centered">
                                    <div class="classic-form">
                                        <p style="text-align:justify">Por favor escoge la forma de pago qué más te favorezca:</p>
                                        <form class="form-horizontal" role="form" id="registration-form-payment">
                                          <div class="form-group">
                                            <label class="radio">
                                              <input type="radio" class="payment-selection" name="payment-selection" id="contado" value="Pago de Contado"><div style="text-align:left;">Pago de Contado</div>
                                              <div class="payment-info" style="font-weight:10;">
                                                <div class="row">
                                                  Descripcion: <span class="normal-font-weight"> 70% de anticipo y 30% al finalizar la instalación de tu sistema solar</span>
                                                </div>
                                                <div class="row">
                                                  <span class="bold">Descuento: </span> <span class="payment-discount normal-font-weight">13%</span>
                                                </div>
                                                <div class="row">
                                                  <span class="bold">Subtotal: </span> <span class="normal-font-weight payment-subtotal">$6,048.20 USD</span>
                                                </div>
                                                <div class="row">
                                                  <span class="bold">IVA (16%): </span><span class="normal-font-weight payment-iva"> $967.71 USD</span>
                                                </div>
                                                <div class="row">
                                                  <span class="bold">Total: </span> <span class="payment-total normal-font-weight">13%</span>
                                                </div>
                                              </div>
                                            </label>
                                            <label class="radio">
                                              <input type="radio" class="payment-selection" name="payment-selection" id="tarjeta" value="Tarjeta de Credito" disabled><div style="text-align:left;">Tarjeta de crédito (mensualidades sin intereses) <span class="theme-color"> ¡Pronto!</span></div>
                                              <div class="payment-info">
                                                <div class="row">
                                                  <span class="bold">Descripcion: </span> <span class="normal-font-weight">pago a 12 mensualidad sin intereses</span>
                                                </div>

                                                <div class="row">
                                                  <span class="bold">Subtotal: </span> <span class="normal-font-weight">$6,951.59 USD</span>
                                                </div>
                                                <div class="row">
                                                  <span class="bold">IVA (16%): </span> <span class="normal-font-weight">1,112.32 USD</span>
                                                </div>
                                                <div class="row">
                                                  <span class="bold">Total: </span><span class="normal-font-weight"> $8,064.27 USD</span>
                                                </div>
                                                <div class="row">
                                                  <span class="bold">Domicialización: </span> <span class="normal-font-weight">[Preliminar]</span>
                                                </div>
                                              </div>

                                            </label>
                                            <label class="radio">
                                              <input type="radio" class="payment-selection" name="payment-selection" id="financiamiento-verde-monarca" value="Financiamiento Verde Monarca" disabled><div style="text-align:left;">Financiamiento Verde Monarca (mensualidades sin intereses)<span class="theme-color"> ¡Pronto!</span></div>
                                              <div class="payment-info">
                                                <div class="row">
                                                  <span class="bold">Descripción: </span> <span class="normal-font-weight">Ahora ofrecemos financiamiento para que instales tu sistema solar sin necesidad de invertir ni un solo peso! Tu sistema solar se financia de tus ahorros mensuales.</span>
                                                </div>
                                                <div class="row">
                                                  <span class="bold">Tasa de Interes: </span> <span class="normal-font-weight">10%</span>
                                                </div>
                                                <div class="row">
                                                  <span class="bold">Promedio de Ahorros Mensuales: </span><span class="normal-font-weight"> 2,194.00 MN</span>
                                                </div>
                                                <div class="row">
                                                  <span class="bold"> Mensualidad (aprox. el 50% de tus ahorros hasta que se pague el sistema con su tasa de interés):</span><span class="normal-font-weight"> $1,097 MN</span>
                                                </div>

                                                <div class="row">
                                                  <span class="bold">Domicialización: </span> [Preliminar]
                                                </div>
                                              </div>
                                            </label>
                                          </div>

                                          <button type="submit" class="btn btn-theme" href="#form-carousel" data-slide="prev">Atr&aacute;s</button>
                                          <button type="submit" class="btn btn-theme" href="#form-carousel" data-slide="next" id="last-registration-button">Siguiente</button>

                                        </form>
                                    </div>
                                </div>

                            </div> <!-- /row -->
                        </div> <!-- /container -->
                    </div> <!-- /wrapper-->
                  </div>
                  <!--/payment ->

                  <!-- Part 6: User Confirmation -->
                  <div class="item" id="user-confirmation">
                      <div class="body-wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 animated" data-animtype="flipInY"
                                     data-animrepeat="0"
                                     data-speed="1s"
                                     data-delay="0.5s">
                                    <h2 class="h2-section-title">Confirmación de Información</h2>

                                    <div class="i-section-title">
                                        <i class="icon-users-outline">

                                        </i>
                                    </div>

                                    <div class="space-sep20"></div>
                                </div>
                            </div>

                            <div class="row">
                              <div class="col-md-6 col-sm-6 centered">
                                  <div class="classic-form">
                                    <h3>Información del Usuario:</h3>
                                    <table align="center" id="user-info-table">
                                    </table>
                                    <br>
                                    <br>
                                    <button type="submit" class="btn btn-theme" href="#form-carousel" data-slide="prev">Modificar</button>
                                    <button type="submit" class="btn btn-theme" href="#form-carousel" data-slide="next" id="confirm-registration">Confirmar</button>
                                  </div>
                              </div>
                            </div> <!-- /row -->
                        </div> <!-- /container -->
                    </div> <!-- /wrapper-->
                    <br>
                    <h2 class="h2-section-title">Otorgación de Poder</h2>
                    <hr>
                    <iframe src="./assets/files/contrato.pdf" width="100%"
                    style="height:40em" id="contrato2-pdf">
                    Tu browser no puede mostrar documentos pdf</iframe>
                    <h2 class="h2-section-title">Contrato</h2>
                    <hr>
                    <iframe src="./assets/files/contrato.pdf" width="100%"
                    style="height:40em" id="contrato-pdf">
                    Tu browser no puede mostrar documentos pdf</iframe>

                  </div>
                  <!--/ -->

                  <!-- Welcome -->
                  <div class="item" id="user-welcome">
                    <h2>Bienvenido!</h2>
                    <hr>
                    <div class="col-sm-offset-3 col-sm-6">
                      <p>Felicidades <span class="nombre bold theme-color"></span>, Ahorrarás <span class="descuento bold theme-color"></span> de tu recibo de luz y ayudarás al medio ambiente al reemplazar el <span class="energia-renovable bold theme-color"></span> de tu uso de energía fósil y contaminante por energía renovable. Bienvenido a Verde Monarca!</p>
                      <br>

                      <h2>Crear Cuenta</h2>
                      <hr>
                      <p>Sólo falta un paso más para que disfrutes de todos los beneficios que ofrecemos, incluyendo el monitoreo y control en tiempo-real de tu generación de energía solar y de tu consumo energético con el fin de que logres más ahorros (energéticos y económicos). Por favor escoge tu contraseña para accesar a tu portal web</p>
                    </div>
                    <div class="col-sm-offset-4 col-sm-4">
                       <form class="form-horizontal registration-form" id="registration-form-1" role="form" action="dashboard.html" method="get">
                          <div class="form-group">
                            <label for="account-email" class="col-sm-4 control-label">Email</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" name="account-email" placeholder="">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="account-password" class="col-sm-4 control-label">Contraseña</label>
                            <div class="col-sm-8">
                              <input type="password" class="form-control" name="account-password" placeholder="********">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="account-password-confirm" class="col-sm-4 control-label">Contraseña (Confirmar)</label>
                            <div class="col-sm-8">
                              <input type="password" class="form-control" name="account-password-confirm" placeholder="********">
                            </div>
                          </div>
                          <button class="btn btn-theme" id="btn-crear-cuenta">Crear Cuenta</button>
                        </form>
                      </div>
                  </div>
                  <!--/welcome -->
                </div><!-- /carousel-inner -->
              </div><!-- form-carousel -->
              <br>
              <br>
              <br>
            </div><!-- /row -->
          </div><!-- /container -->
        </div>
        <br>
      </div> <!-- /container -->
    </div><!-- /introwrap -->
