<div class="item">
  <div class="body-wrapper">
      <div class="container">
          <div class="row">
              <div class="col-md-12 col-sm-12 animated" data-animtype="flipInY"
                   data-animrepeat="0"
                   data-speed="1s"
                   data-delay="0.5s">
                  <h2 class="h2-section-title">Registro de Usuario</h2>

                  <div class="i-section-title">
                      <i class="icon-users-outline">

                      </i>
                  </div>

                  <div class="space-sep20"></div>
              </div>
          </div>

          <div class="row">

              <div class="col-md-6 col-sm-6 centered">
                  <div class="classic-form">
                      <p style="text-align:justify">¿Deseas instalar un sistema para tu residencia o para tu comercio?</p>
                        <a href="./begin_registration?is_residential=true"><button type="button" class="btn btn-theme">Residencial</button></a>
                        <a href="./begin_registration"><button type="button" class="btn btn-theme">Comercial</button></a>
                  </div>
              </div>

          </div> <!-- /row -->
      </div> <!-- /container -->
  </div> <!-- /wrapper-->
</div>
