    <div class="row">
      <!-- Copyright Wrap -->
      <div class="copywrap">
        <div class="container">
          <div class="row">
            <div class="col-lg-7">
              <p class="color-font-footer">Notre Dame 115-A, Col. Valle de San Ángel, San Pedro Garza García, NL, MEX C.P. 66290</p>
            </div>
          </div><!-- /row -->
          <div class="row">
            <div class="col-lg-7">
              <p class="color-font-footer">Verde Monarca &copy;2014 | <a href="mailto:residencial@verdemonarca.com">residencial@verdemonarca.com</a> | (818) 340 8279</p>
            </div>
          </div>
        </div><!-- /container -->
      </div><!-- /copywrap (copyright) -->
    </div>
