    <div class="row">
      <!-- Copyright Wrap -->
      <div class="copywrap">
        <div class="container">
          <div class="row">
            <div class="col-lg-7">
              <p>Notre Dame 115-A, Col. Valle de San Ángel, San Pedro Garza García, NL, MEX C.P. 66290</p>
            </div>
          </div><!-- /row -->
          <div class="row">
            <div class="col-lg-7">
              <p>Verde Monarca &copy;2014 | residencial@verdemonarca.com | (818) 340 8279</p>
            </div>
          </div>
        </div><!-- /container -->
      </div><!-- /copywrap (copyright) -->
    </div>
