/* ---------------------------------------------------------------------
  Base Styles
--------------------------------------------------------------------- */

body {
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #555;
  padding-top: 50px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

hr {
  display: block;
  width: 500px;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
}


/* Titles */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #333;
}

input {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  /*height: 34px;*/
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px 4px 4px 4px;
  color: rgb(85, 85, 85);
}

input:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
  border-color: rgb(102, 175, 233);
  outline: 0px none;
}

.bold {
  font-weight: bold;
}

.normal-font-weight {
  font-weight: normal;
}

.background-image-container{
  background: no-repeat center top;
  background-size: cover;
}

.bronze-color {
  color: #cd7f32;
}

.silver-color {
  color: #AAAAAA;
}

.gold-color {
  color: #CC9900;
}
.platinum-color{
  color: #0074D9;
}

.classic-form { -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); padding: 40px;
}
/* Paragraph & Typographic */

p {
  line-height: 28px;
  margin-bottom: 25px;
  color: #555;
}


/* Links */

a {
  color: #3D9970;
  word-wrap: break-word;

  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
  color: #3D9970;
  text-decoration: none;
  outline: 0;
}

a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

/* UI Elements */

.pad-top {
  padding-top: 80px;
}

.glyphicon-remove {
  color: #FF4136;
}

.glyphicon-ok {
  color:  #2ECC40;
}


.glyphicon-question-sign {
  cursor: pointer;
  cursor: hand;
  color: #3D9970;
}



.modal-help img{
  width:80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Button Modifications */

.btn-xl {
    padding: 15px 22px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 6px
}

.btn-theme {
  background-color: rgba(61, 153, 112, 1);
  color: #fff;
  border-color: #3D9970;
}

.btn-theme:hover,
.btn-theme:focus {
  border-color: #3D9970; /* change to darker hue than bg hover color */
  background-color: rgba(61, 153, 112, 0.9);
  color: #fff;
  box-shadow: none;
}

.btn-theme2 {
  border-color: #fff;
  background-color: transparent;
  color: #fff;
}

.btn-theme2:hover,
.btn-theme2:active {
  border-color: #fff;
  background-color: #fff;
  color: #3D9970;
  box-shadow: none;
}

/* Registration*/
#user-confirmation td{
  text-align: left;
  padding: 1px 15px 0px 0px;
  max-width: 260px;
}

#registration-container {
  min-height: 900px;
}
#user-welcome p{
  text-align: justify;
}

/* ---------------------------------------------------------------------
  Top nav
--------------------------------------------------------------------- */

.navbar-default {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.navbar-default img {
  width: auto;
  height: 58px;
  margin: -24px 27px 0px 19px;
}

.navbar-default .navbar-toggle {
  border: 0;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-toggle > .icon-bar {
  background-color: #3D9970;
}

.navbar-default .navbar-brand {
  color: #3D9970;
}

.navbar-default .navbar-brand:hover {
  color: #bdc3c7;
}

.navbar-default .navbar-nav > li > a {
  color: #3D9970;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #bdc3c7;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #bdc3c7;
}

.navbar-default .navbar-right a[type="button"] {
  padding: 6px 20px 6px 20px;
  color: #fff;
}

.navbar-default .navbar-right a[type="button"]:hover,
.navbar-default .navbar-right a[type="button"]:focus {
  background-color: transparent;
  color: #3D9970;
}

/* ---------------------------------------------------------------------
  Side nav
--------------------------------------------------------------------- */
.portal-right-sidebar{
  position: fixed;
  right: 30px;
}

.portal-right-sidebar .item{
  text-align: center;
  margin: 30px 0 0 30px;
  padding: 5px 10px 10px 10px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.portal-right-sidebar .item h3{
  font-weight: 600;
}

.portal-sidenav {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 210px;
  margin: 30px 0 0 30px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.portal-sidenav .navbar-toggle {
  border: 0;
}

.portal-sidenav .navbar-toggle:hover,
.portal-sidenav .navbar-toggle:focus {
  background-color: transparent;
}

.portal-sidenav .navbar-toggle > .icon-bar {
  background-color: #3D9970;
}

.portal-sidenav .navbar-brand {
  color: #3D9970;
}

.portal-sidenav .navbar-brand:hover {
  color: #bdc3c7;
}

.portal-sidenav .navbar-nav > li > a {
  color: #3D9970;
}

.portal-sidenav > li > a:hover,
.portal-sidenav > li > a:focus {
  color: #bdc3c7;
  background-color: transparent;
}

.portal-sidenav > .active > a,
.portal-sidenav > .active > a:hover,
.portal-sidenav > .active > a:focus {
  background-color: transparent;
  color: #bdc3c7;
}

.portal-sidenav > li > a {
  display: block;
  text-align: center;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  /*border: 1px solid #e5e5e5;*/
}

.main-dashboard-content {
  margin-top: 50px;
}

.main-dashboard-content .theme-color {
  color: #3D9970;
}

/* ---------------------------------------------------------------------
  Wrap Sections
--------------------------------------------------------------------- */

/* Header Wrap */

.headerwrap {
  background: url("../img/solar_panel_sunlight_mountain.jpg") no-repeat center top;
  background-size: cover;
  padding-top: 80px;
}

.headerwrap .col-lg-2 {
  padding-top: 40px;
}

.headerwrap h1 {
  margin-top: 95px;
  color: white;
  font-size: 60px;
  padding: 20px 0px 20px 0px;
  background: rgba(1,1,1,0.5);
}

.headerwrap h3 {
  color: white;
  font-size: 30px;
}

.headerwrap h4 {
  padding-top: 10px;
  padding-bottom: 20px;
  color: #fff;
}

.headerwrap h5 {
  color: white;
  font-weight: 700;
  text-align: left;
}

.headerwrap p {
  text-align: left;
  color: #fff;
}

/* Registration */
.registration{
  padding-top: 80px;
  padding-bottom: 80px;
}

.registration .form-table{
  width: 100%;
}

/* Second Headling */
.second-headline-container{
  background-color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 50px;
}

.second-headline-container licon {
  font-size: 90px;
  color: #3D9970;
  padding: 20px;
  vertical-align: middle;
}

.second-headline-container h4 {
  line-height: 28px;
}

#world-img {
  width: 100%;
  height: auto;
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

/* About Wrap */

.about {
  padding-top: 80px;
  padding-bottom: 80px;
}

.about i {
  font-size: 60px;
  color: #3D9970;
  padding: 20px;
  vertical-align: middle;
}

.about img {
  height: 70px;
}

.about h3 {
  margin-bottom: 50px;
  height: 20px;
  vertical-align: middle;
}

.about .background-image-container{
  background: url("../img/Solar_Projects_Collage.jpg") no-repeat center top;
  background-size: cover;
  min-height: 700px;
  margin-bottom: 80px;
}

.about .svg {
  height: 200px;
  margin-bottom: 30px;
}

/* residences Wrap */

.residenceswrap {
  background-color: #f5f5f5;
  padding-top: 80px;
  padding-bottom: 80px;
}

.residenceswrap img {
  width: 100%;
  display: table;
  margin: 0 auto;
}

.residenceswrap a {
  font-size: 20px;
}

.residenceswrap h4,
.residenceswrap licon {
  font-size: 20px;
  color: #3D9970;
}


/* Businesses Wrap */

.businesseswrap {
  padding-top: 80px;
  padding-bottom: 80px;
}

.businesseswrap img {
  width: 100%;
  display: table;
  margin: 0 auto;
}

.businesseswrap a {
  font-size: 20px;
}

/* Divider 1 & 2 Wrap */

.divider01 {
  background: url("../img/divider/divider-1.jpg") no-repeat center center;
  /* background: url("../img/Solar-Wind-Energy.jpg") no-repeat center center; */
  background-color: rgb(6, 151, 158, 0.5);
  background-size: cover;
  min-height: 400px;
  padding-top: 120px;
}

.divider01 h3 {
  font-size: 34px;
  color: #fff;
}

.divider01 h4 {
  padding-top: 15px;
  color: #fff;
}

.divider02 {
  background-color: #3D9970;
  height: 150px;
  padding-top: 55px;
}

.divider02 h3 {
  color: #fff;
  padding-right: 40px;
}

.divider02 h3,
.divider02 button {
  display: inline;
  vertical-align: middle;
}


/* Pricing Wrap */

.pricingwrap {
  background-color: #fff;
  padding-top: 80px;
  padding-bottom: 120px;
}

.pricingwrap small {
  padding-left: 10px;
}

/* Pricing Tables */
.panel {
  text-align: center;
}

.panel table{
  margin-bottom: 0px;

}

.panel span{
  font-weight: 800;
}

.panel-custom {
  border-color: #3D9970;
}

.panel-custom  .panel-heading {
  background-color: #3D9970;
  color: #fff;
}

.panel-heading > .panel-title {
  font-weight: 900;
  text-transform: uppercase;
}

.panel-body {
  padding: 0px;
  text-align: center;
}

.the-price {
  background-color: rgba(220,220,220,0.17);
  box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #dcdcdc;
  padding: 20px;
  margin: 0;
}

.the-price h2 {
  font-size: 44px;
  font-weight: 700;
  line-height: 1em;
  padding: 0;
  margin: 0;
}

.the-price h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 1em;
  padding: 0;
  margin: 0;
}

.the-price h2 {
  font-size: 44px;
  font-weight: 700;
  line-height: 1em;
  padding: 0;
  margin: 0;
}

.subscript {
  font-size: 25px;
  font-weight: 400;
}

/* Footer Wrap */

.footerwrap {
  background-color: #333;
  color: #777;
  padding-top: 80px;
  padding-bottom: 100px;
}

.footerwrap h3 {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

.footerwrap p {
  color: #fff;
  font-size: 14px;
}

.footerwrap #social {
  margin: 20px auto 0px auto;
  display: inline-block;
}

.footerwrap input:focus {
  outline: 0;
}

/* Copyright Wrap */

.copywrap {
  background: #222;
  padding-top: 20px;
  font-size: 14px;
  color: #bdc3c7;
}


/* Sign In & Sign Up Modal */

.modal .nav-tabs {
  padding-left: 5px;
  padding-right: 5px;
}



/* Tienda VM*/
.item-name{
  color: #555;
  font-weight: bold;
}
.store-item-image {
  margin-top: 50px;
  width: 100%;
}

.store-item-description {
  margin-left: 10px;
  font-size: 13px;
  line-height: 18px;
}

.store-item-logos-row{
  margin-bottom: 20px;
  margin-left: 15%;

}
.store-item-energy-star-logo {
  height: 90px;
  margin-right: 20px;
}

.store-item-brand-logo {
  height: 50px;
}

.store-item-description-and-images {
  margin-bottom: 20px;
}

.store-item-add-to-cart{
  margin-bottom: 100px;
}
